{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Ticket index{% endtrans %}
{% endblock %}

{% block body %}
	<h1>{% trans %}Ticket index{% endtrans %}</h1>
	<a href="{{ path('app_ticket_new') }}">
		<button class="btn btn-primary {% trans %}icon new{% endtrans %}">
			{{ button_label|default('Create new')|trans }}
		</button>
	</a>
	<div class="table-responsive">
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th class="text-secondary bg-info text-center">{% trans %}Annee{% endtrans %}</th>
					<th class="text-secondary bg-info text-center">{% trans %}NumeroTicket{% endtrans %}</th>
					<th class="text-secondary bg-info text-center">{% trans %}DateVente{% endtrans %}</th>
					<th class="text-secondary bg-info text-center">{% trans %}actions{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					<tr>
						<td class="text-center">{{ ticket.annee }}</td>
						<td class="text-center">{{ ticket.numeroTicket }}</td>
						<td class="text-center">{{ ticket.dateVente ? ticket.dateVente|date('Y-m-d H:i:s') : '' }}</td>
						<td
							class="text-center">
							{# <a href="{{ path('app_ticket_show', {'annee': ticket.annee, 'numeroTicket': ticket.numeroTicket}) }}">show</a>
							                        <a href="{{ path('app_ticket_edit', {'annee': ticket.annee, 'numeroTicket': ticket.numeroTicket}) }}">edit</a> #}
							<a href="{{ path('app_vendre_index', {'annee': ticket.annee, 'no': ticket.numeroTicket}) }}">
								<button class="btn btn-warning btn-sm {% trans %}icon detail{% endtrans %}">
									{{ button_label|default('detail')|trans }}
								</button>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">{% trans %}no records found{% endtrans %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
