{% extends 'base.html.twig' %}

{% block title %}{% trans %}Article index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Article index{% endtrans %}</h1>
    <a href="{{ path('app_article_new') }}">
        <button class="btn btn-primary {% trans %}icon new{% endtrans %}">
			{{ button_label|default('Create new')|trans }}
		</button>
    </a>
    {# {{ dump(articles) }} #}
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th  class="text-secondary bg-info text-center">{% trans %}Id{% endtrans %}</th>
                    <th  class="text-secondary bg-info text-center">{% trans %}NomArticle{% endtrans %}</th>
                    <th  class="text-secondary bg-info text-center">{% trans %}NomMarque{% endtrans %}</th>
                    <th  class="text-secondary bg-info text-center">{% trans %}NomCouleur{% endtrans %}</th>
                    <th  class="text-secondary bg-info text-center">{% trans %}NomType{% endtrans %}</th>
                    <th  class="text-secondary bg-info text-center">{% trans %}PrixAchat{% endtrans %}</th>
                    <th  class="text-secondary bg-info text-center">{% trans %}Volume{% endtrans %}</th>
                    <th  class="text-secondary bg-info text-center">{% trans %}Titrage{% endtrans %}</th>
                    <th  class="text-secondary bg-info text-center">{% trans %}actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                {# {{ dump(article.couleurs) }} #}
                <tr>
                    <td  class="text-center">{{ article.id }}</td>
                    <td  class="text-center">{{ article.nomArticle }}</td>
                    {% if article.marques  == NULL %}<td  class="text-center">{% trans %}Marque Inconnue{% endtrans %}</td>
                    {% else %}<td  class="text-center">{{ article.marques.nomMarque }}</td>
                    {% endif %} 
                    {% if article.couleurs  == NULL %}<td  class="text-center">{% trans %}Couleur Inconnue{% endtrans %}</td>
                    {% else %}<td  class="text-center">{{ article.couleurs.nomCouleur }}</td>
                    {% endif %} 
                    {% if article.types  == NULL %}<td  class="text-center">{% trans %}Type Inconnu{% endtrans %}</td>
                    {% else %}<td  class="text-center">{{ article.types.nomType }}</td>
                    {% endif %} 
                    <td  class="text-center">{{ article.prixAchat }}</td>
                    <td  class="text-center">{{ article.volume }}</td>
                    <td  class="text-center">{{ article.titrage }}</td>
                    <td  class="text-center">
                        
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}"> 
                            <button class="btn btn-secondary btn-sm {% trans %}icon edit{% endtrans %}">
                                        {{ button_label|default('edit')|trans }}
                            </button>
                        </a>
                        {{ include('article/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{% trans %}no records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
